<% provide(:title, "About") %>

<h1>About</h1>

<h2>The Mars Rover App lets you manage all of your Mars rover missions in one place</h2>
<p>Decide which plateau to explore (we won't ask any questions!)</p>
<p>Choose how many rovers you want to use to explore the plateau</p>
<p>Control the rovers from the plateau viewing page</p>