<% provide(:title, "Contact") %>

<h1>Contact</h1>
<h2 id="heading">We are currently working on our contact page due to unforeseen legal issues</h2>
<h3 id="heading">Please use other, less direct forms of communication</h3>
<p><i>We apologise for any inconvenience</i></p>