<% provide(:title, "Home") %>

<h1>YOU HAVE LANDED</h1>
<p><i>Get started by viewing all plateaus being explored or add a new plateau for exploration</i></p>
<%= link_to image_tag("Mars.jpeg", alt: "Image of Mars", width: 1000, class: "img-responsive center-block"), "https://media.wired.com/photos/593271df5c4fbd732b552a96/master/w_2560%2Cc_limit/602857main_pia14293-amended-43_946-7101.jpg" %>