<li style="list-style: none;">
  <h2><%= link_to "#{plateau.name}", plateau_path(plateau), id: "show_link" %></h2>
  <h4>Active rovers: <%= plateau.rovers.count %></h4>
  <% if plateau.explored == true %>
    <h4 id="explored_h4">Explored</h4>
  <% else %>
    <h4 id="exploring_h4">Exploring</h4>
  <% end %>
</li>