#explored {
  font-size: 0.8em;
  color: #000000;
  border-style: solid;
  border-color: #000000;
  border-width: 2px;
  border-radius: 10px;
  padding: 5px;
  &:hover {
    text-decoration: none;
    color: #ff5435;
    border-color: #ff5435;
  }
}

#unexplored {
  font-size: 0.8em;
  color: #000000;
  border-style: solid;
  border-color: #000000;
  border-width: 2px;
  border-radius: 10px;
  padding: 5px;
  &:hover {
    text-decoration: none;
    color: #ff5435;
    border-color: #ff5435;
  }
}