footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  font-weight: bold;
  letter-spacing: -1px;
  font-size: 1.2em;
  a {
    color: #ff5435;
    &:hover {
      text-decoration: none;
      color: #cc1e2c;
    }
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }

}
